<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="labo4_tfConnectionString" connectionString="Data Source=DIEGO_PC;Initial Catalog=labo4-tf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="false" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
  </system.web>
</configuration>